@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DancingScript";
  src: url(/fonts/DancingScript-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-DancingScript {
  font-family: "DancingScript", sans-serif;
}

/* New font */
@font-face {
  font-family: "Elegant";
  src: url(/fonts/elegant_4/ElegantDEMO.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-Elegant {
  font-family: "Elegant", sans-serif;
}

@layer utilities {
  .bg-blur-xsm {
    backdrop-filter: blur(1px);
  }
}
.spinner {
  width: 40px;
  height: 40px;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
